<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.persistence.impl.mappers.PacienteMapper">
    
    <update id="actualizarConsulta">
        UPDATE CM_CONSULTAS set fecha_y_hora=#{con.fechayHora},
                                resumen=#{con.resumen},
                                costo=#{costoc}                                
        WHERE PACIENTES_id=#{idp} AND PACIENTES_tipo_id=#{tipoidp};
    </update>
    
    <update id="actualizarPaciente">
        UPDATE CM_PACIENTES set nombre=#{paci.nombre},
                                fecha_nacimiento=#{paci.fechaNacimiento},eps_nit=#{paci.eps.nit}
        WHERE id=#{paci.id} AND tipo_id=#{paci.tipoId}
    </update>
    
    <insert id="insertConsulta" useGeneratedKeys="true" keyProperty="con.id">
	INSERT INTO CM_CONSULTAS(idCONSULTAS,fecha_y_hora,resumen,costo,PACIENTES_id,PACIENTES_tipo_id)
        
        VALUES (#{con.id},#{con.fechayHora},#{con.resumen},#{costoc},#{idp},#{tipoidp});
    </insert>
    
    
    <insert id="insertarPaciente">
	INSERT INTO CM_PACIENTES(id,tipo_id,nombre,fecha_nacimiento,eps_nit)
        VALUES (#{paci.id},#{paci.tipoId},#{paci.nombre},#{paci.fechaNacimiento},#{paci.eps.nit});
            
    </insert>
     
    <select parameterType="map" id="loadPacienteByID" resultMap="PacienteResult">
        select
                p.id,
                p.tipo_id,
                p.nombre,
                p.fecha_nacimiento,

                e.nombre as eps_nombre,
                e.nit as eps_nit,

                c.idCONSULTAS,
                c.fecha_y_hora,
                c.resumen,
                c.costo
        
                FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit
                WHERE p.id= #{idp} AND p.tipo_id = #{tipoidp};
    </select>
                
           
    <select parameterType="map" id="loadPacientes" resultMap="PacienteResult">
		select
                p.id,
                p.tipo_id,
                p.nombre,
                p.fecha_nacimiento,


                e.nombre as eps_nombre,
                e.nit as eps_nit,

                c.idCONSULTAS,
                c.fecha_y_hora,
                c.resumen,
                c.costo
        
                FROM  CM_PACIENTES as p left join CM_CONSULTAS as c on p.id=c.PACIENTES_id left join CM_EPS as e on p.eps_nit=e.nit
    </select>
          
                
                      
                            
                                  
    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='c.fecha_y_hora'/>
        <result property='resumen' column='resumen'/>  
        <result property='costo' column='costo'/> 		
    </resultMap>  
        
    <resultMap type='Eps' id='EpsResult'>
        <id property='nombre' column='nombre'/>
        <result property='nit' column='nit'/>
    </resultMap> 
    
    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>
        <id property='tipoId' column='tipo_id'/>
        <result property='nombre' column='nombre'/>  
        <result property='fechaNacimiento' column='fecha_nacimiento'/>  
        <association property="eps" javaType="Eps" columnPrefix='eps_'></association>      
        <collection property='consultas' ofType='Consulta'></collection>		
    </resultMap>    
        
</mapper>
